/*  Styles Globais  */

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

tr {
    border: 2px solid #810b3d;
}

/* IDS */
#edge {
    margin: 0px;   
    position: relative; 
}

/* Content */

.background {
    background-color: #000;
    color: #000000;
}

.board {
    width: 90px;
    height: 75px;
    border: 2px solid #810b3d;
}

.table {
    position: absolute;
}

.container {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.col-md-10 {
    position: relative;
}

.menu {
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: #13007c;
    border-color: #13007c;
    margin-left: 20px;
}

.position {
    margin-top: 200px;
    margin-right: -220px;
    padding-left: 5px;
}

.footer {
    margin-top: 495px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    position: relative;
    bottom: 0;
}

/* Images and animates */

.imgBox {
    width: 50px;
    height: 70px;
    margin-right: -70px;
    margin-left: 10px;
}

.wall {
    height: 70px;
    margin-left: 30px;
}

.ladder {
    width: 30px;
    height: 70px;
    margin-right: -70px;
    margin-left: 25px;
    margin-top: -53px;
    margin-bottom: 53px;
}

.animate {
    position: absolute;
    margin-top: 399px;
    margin-left: 0px;
    width: 50px;
    height: 70px;    
}
